<!doctype html>

<html lang="en" xml:lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/style/main.css' %}">
    <title>W.R.I.S.T</title>
    {% block header_content %}
    {% endblock %}
   
    {% block load_javascript %}
    {% endblock %}


</head>

<body id="container">
    <div id="left-container">
        <div id="id_left_sidebar_container">
            <div id="id_title_container">
                <p id="id_home_title">W.R.I.S.T.</p>
                <p id="id_home_subtitle">Wireless Reality Integrated Sensing Tool</p>
            </div>
            <ul>
                <li id="id_home_container" class='{% if page == "home" %}class_selected_icon_continer{% endif %}'>
                    <img id="id_home_icon" class='{% if page == "home" %}selected_icon {% else %}class_icon_image{% endif %}' src="{% static "main/images/home.png" %}"></img>
                </li>
                <li id="id_wearable_status_container" class='{% if page == "battery" %}class_selected_icon_continer{% endif %}' href="{% url 'login' %}">
                    <img id="id_battery_icon" class='{% if page == "battery" %}selected_icon {% else %}class_icon_image{% endif %}' src="{% static "main/images/status.png" %}"></img>
                </li>
                <li id="id_unity_button_container" class='{% if page == "unity" %}class_selected_icon_continer{% endif %}'>
                    <img id="id_unity_icon" class='{% if page == "unity" %}selected_icon {% else %}class_icon_image{% endif %}' src="{% static "main/images/hologram.png" %}"></img>
                </li>
            </ul>
        </div>
    </div>
    <script type="text/javascript">


    var unity_icon = document.getElementById("id_unity_icon");
    unity_icon.addEventListener('click',function(){
        window.location.replace("{% url 'unity' %}");
    })

    var home_icon = document.getElementById("id_home_icon");
    home_icon.addEventListener('click',function(){
        window.location.replace("{% url 'home' %}");
    })

    var battery_icon = document.getElementById("id_battery_icon");
    battery_icon.addEventListener('click',function(){
        window.location.replace("{% url 'battery' %}");
    })


    </script>
    
    {% block content %}
    {% endblock %}

</body>

</html>
