{% extends "base.html" %}
{% load static %}

{% block header_content %}
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{% endblock %}

{% block content %}
<div style="">
  <div id="voltage" style="color: white;"></div>
  <div id="percentage" style="color: white;"></div>
</div>
<script>

const MQTT_HOST = "mqtt.eclipseprojects.io/mqtt";
const MQTT_PORT = 9001;

// Create a client instance
client = new Paho.MQTT.Client(MQTT_HOST, MQTT_PORT, "webapp");

// set callback handlers
client.onConnectionLost = onConnectionLost;
client.onMessageArrived = onMessageArrived;

// connect the client
client.connect({onSuccess:onConnect});


// called when the client connects
function onConnect() {
  // Once a connection has been made, make a subscription and send a message.
  console.log("onConnect");
  client.subscribe("wrist/batt/sensors");

  window.setInterval(function() {
      const message = new Paho.MQTT.Message("");
      message.destinationName = "wrist/batt/ask";
      client.send(message);
  }, 1000);
}

// called when the client loses its connection
function onConnectionLost(responseObject) {
  if (responseObject.errorCode !== 0) {
    console.log("onConnectionLost:"+responseObject.errorMessage);
  }
}

// called when a message arrives
function onMessageArrived(message) {
    var payload = message.payloadString;
    var [timestamp, voltage, percentage] = payload.split(",");
    document.getElementById("voltage").innerHTML = voltage + " V";
    document.getElementById("percentage").innerHTML = percentage + " %";
    // console.log(voltage, percentage);
}

</script>

{% endblock %}
